<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="IOCL Panipat Township Community Hall Rental Management System" />
    <add key="Organization" value="Indian Oil Corporation Limited" />
    <add key="Location" value="Panipat Refinery Township" />
    <add key="SupportEmail" value="support@iocl-panipat.gov.in" />
    <add key="LowInventoryThreshold" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="SQLiteDB" connectionString="Data Source=|DataDirectory|iocl_community_hall.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-IN" uiCulture="en-IN" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.SQLite, Version=1.0.118.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" executionTimeout="300" />
    <customErrors mode="Off" />
    <pages enableSessionState="true" enableViewState="true" />
    <sessionState timeout="480" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="480" defaultUrl="~/AdminDashboard.aspx" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <machineKey
      validationKey="A3F8B2C1D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1"
      decryptionKey="B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5"
      validation="SHA1"
      decryption="AES" />
  </system.web>
</configuration>
